@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: green;
  --error-color: firebrick;
}

* {
  box-sizing: border-box;
}

body {
  background-color:antiquewhite;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin:0;
}

.container {
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color:chocolate;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.form-control input:focus {
  outline: 0;
  border-color:chocolate;
}

.form-control.success input {
  border-color:green
}

.form-control.error input {
  border-color:firebrick;
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color:dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}